<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <title>My Style Guide <%= title %></title>
    <link rel="shortcut icon" href="static/brick.png" />

    <!-- Styleguide CSS -->
    <link rel="stylesheet" href="static/css/doc.css">
    <link rel="stylesheet" href="static/css/github.css">

    <!-- CSS to be documented -->
    <link rel="stylesheet" href="build/css/screen.css">

    <!-- Main libraries -->
    <script src="scripts/jquery.min.js"></script>
    <script src="scripts/underscore-min.js"></script>
    <!-- component js and init scripts -->
    <script src="build/script/components.js"></script>

</head>

  <body>
    <header class="header pbn" role="banner">
      <div class="backgroundHighlight typeReversed1">
        <div class="container">
          <h1 class="h2 mvs">My Style Guide</h1>
        </div>
      </div>
      <div class="backgroundLowlight typeReversed1">
        <div class="container">
          <span>
            <ul class="docNav listInline">
              <!-- Add you pages here -->
              <li><a href="index.html">Intro</a></li>
              <li><a href="base_css.html">Base CSS</a></li>
              <li><a href="components.html">Components</a></li>
              <li><a href="javascript.html">Javascript</a></li>
            </ul>
          </span>
        </div>
      </div>
      <!-- //header/container -->
    </header>

    <div class="content">
      <section>
        <div class="line">

          <div class="col cols4">
            <div class="componentMenu box boxBasic backgroundBasic">
              <div class="boxBody pan">
                <ul class="componentList listBorderedHover">
                  <% @blocks.each do |block| %> 
                    <li><a href="#<%= block[:name] %>"><%= block[:title] %></a></li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>

          <div class="main col cols20 lastCol">



